*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    overflow: hidden;
}

body{
    background: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    background-attachment: fixed;
}

button{
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-style: none;
    font-size: 0.9rem;
}

li{
    background-color: white;
    color: black;
    margin: 0.5rem;
    padding: 1rem 0.7rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}

.title {
    margin: 0.5rem 1.5rem;
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    font-weight: 200;
}

#task {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-align: centre;
    margin-right: 1rem;
    color: white;
    width: 25rem;
    font-size: 1.2rem;
}

.task-summary {
    color: white;
}